<nb-card>
  <nb-card-body>
    <div class="mc-row">
      <div><strong>Server</strong></div>
      <div><strong nbTooltip="Score for the current skirmish">Score</strong></div>
      <div><strong nbTooltip="Victory Points">V.P.</strong></div>
      <div><strong nbTooltip="Points Per Tick">PPT</strong></div>
      <div><i class="objective-icon-camp" nbTooltip="Camps"></i></div>
      <div><i class="objective-icon-tower" nbTooltip="Towers"></i></div>
      <div><i class="objective-icon-keep" nbTooltip="Keeps"></i></div>
      <div><i class="objective-icon-castle" nbTooltip="Castles"></i></div>
      <div><strong>Rating</strong></div>
      <div><strong nbTooltip="Kill / Death Ratio">KDR</strong></div>
    </div>
  </nb-card-body>
</nb-card>