// themes - our custom or/and out of the box themes
@import 'themes';

// framework component themes (styles tied to theme variables)
@import '~@nebular/theme/styles/globals';
@import '~@nebular/auth/styles/all';
@import '~@nebular/bootstrap/styles/globals';
// ...

// global app font size
@import './font-size';

// loading progress bar theme
@import './pace.theme';

// custom wvwstats icons
@import './wvwstats-icons.scss';

// Gw2 font
@font-face {
  font-family: 'gwtwo';
  src: url('./GWTwoFont.woff2') format('woff2'),
    url('./GWTwoFont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// install the framework and custom global styles
@include nb-install() {

  // framework global styles
  @include nb-theme-global();
  @include nb-auth-global();
  @include nb-bootstrap-global();

  // loading progress bar
  @include ngx-pace-theme();

  // custom wvwstats fonts
  @include wvwstats-icons();
};
