<div class="mc-row">
  <div>
    <span [nbTooltip]="serverTooltip">
      <a [routerLink]="['/match', region, tier]">{{ info.world.name }}</a>
    </span>
  </div>
  <div>
    <nb-progress-bar [nbTooltip]="'Skirmish Score: ' + info.skirmish_score" [value]="info.scorePercent" [status]="rankColor">{{ info.skirmish_score }}</nb-progress-bar>
  </div>
  <div>
    <strong *ngIf="winning;else not_winning">{{ info.victory_points }}</strong>
    <ng-template #not_winning>{{ info.victory_points }}</ng-template>
  </div>
  <div>+{{ info.ppt }}</div>
  <div>{{ info.objectiveCount.camp }}</div>
  <div>{{ info.objectiveCount.tower }}</div>
  <div>{{ info.objectiveCount.keep }}</div>
  <div>{{ info.objectiveCount.castle }}</div>
  <div>1909.124</div>
  <div>{{ info.kd }}</div>
</div>
