@import '../../../../@theme/styles/themes';

@include nb-install-component() {
  .mc-row {
    display: grid;
    grid-template-columns: 17fr 18fr 10fr 10fr 6fr 6fr 6fr 6fr 10fr 10fr;
    grid-column-gap: 7px;
    margin-bottom: 8px;
  }

  a {
    color: inherit;
  }
}
