@import '../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  .wvwstats-ct {
    display: flex;
    justify-content: center;
  }

  .custom-range-form {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
  }

  .custom-range-form.combo {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }
  
  .loading { 
    min-height: 70px;
    margin-bottom: 22px;
  }

  @include media-breakpoint-down(sm) {
    ngx-traffic {
      display: none;
    }
  }

  @include media-breakpoint-down(is) {
    /deep/ nb-card.large-card {
      height: nb-theme(card-height-medium);
    }
  }
}
