@import '../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  .wvwstats-ct {
    display: flex;
    justify-content: center;
  }

  .match-container {
    min-height: 70px;
  }

  .loading {
    border-radius: 4px;
    margin-bottom: 22px;
  }

  ::ng-deep {
    .pos {
      color: nb-theme(color-success);
    }

    .neg {
      color: nb-theme(color-danger);
    }

    .no-change {
      color: nb-theme(color-fg-text);
    }

    .table-col-center {
      text-align: center;
    }
  }

  @include media-breakpoint-down(sm) {
    ngx-traffic {
      display: none;
    }
  }

  @include media-breakpoint-down(is) {
    /deep/ nb-card.large-card {
      height: nb-theme(card-height-medium);
    }
  }
}
